/* Colors
-----------------------------------------*/
$heading: #7b027b;
$subheading: #510251;
$paragraph: #000;

$clickable: #c04848;
$hover: #f07241;



/* Variables and Mixins
-----------------------------------------*/
@mixin colorTransition {
	transition: color 0.3s ease;
	
	&:hover {
    	color: $hover;
	};
}


/* Body Styles
-----------------------------------------*/
body {
	background: url(../assets/dust.png);
}

h2 { color: $heading; }
h3 { color: $subheading; }

a { 
	color: $clickable; 
	@include colorTransition;

	&:active { color: #fc7c4a; }
}

p { color: $paragraph; }

.compress { padding: 0 5%; }

.button { 
	background: $clickable;
	border-radius: 10px;
	color: #fff;

	&:hover { background: $hover; }
}

.separator {
	width: 10%;
	height: 10px;
	border-bottom: 5px solid $hover;
	margin: 20px auto;
}


/* Header / Nav
-----------------------------------------*/
.header {
	background: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url(../assets/citypeople.jpg);
	background-position: -1208px -216px;
	height: 500px;
	max-height: 500px;

	.navbar {
		padding-top: 10px;
		border-bottom: 1px solid $subheading;
		height: 50px;

		a { 
			font-weight: 600;
			padding: 7px 5%;
			transition: background 0.5s ease;

			&:hover { 
				color: $hover;
				background: #fff; 
			}
		}

		.large-2 {
			h5 {
				color: $subheading;
				border-bottom: 5px solid $subheading;
			}
		}

		.left-nav {
			a:first-child { margin-left: 62%; }
		}
	} //nav

	.info {
		margin-top: 50px;

		p { 
			margin: 50px 25%;
			width: 50%; 
		}

		.button {
			width: 50%;
			margin: 0 25%;
		}
	}
} //header


/* Content
-----------------------------------------*/
.content {
	margin: 50px 0;
	height: 660px;

	.moreInfo { width: 70%; margin: 0 15%; }

	.imgColumns {
		margin-top: 100px;

		.threeBox { 
			text-align: left;
			background: #fff;

			-webkit-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.5);
			box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.5);

			.infoBox {
				padding: 10px 8px;
				height: 200px;
			}
		}
	}
}


/* Footer
-----------------------------------------*/
footer {
	background: linear-gradient(rgba(81, 2, 81, 0.57), rgba(81, 2, 81, 0.57)), url(../assets/cityscape.jpg);
	background-size: 100%;
    background-position: -2px -164px;

    padding: 125px 0 70px 0;

    h3 { color: #fff; }

    a { 
    	margin: 0 20px; 
    	padding: 5px;
    	color: $hover; 

    	&:hover { background: #fff; }
    }
}

