/* Colors
-----------------------------------------*/
$clickable: #c04848;
$hover: #f07241;
$headers: #601848;

$overlay: #300030;
$contrast: #480048;



/* Variables and Mixins
-----------------------------------------*/



/* Helper Classes
-----------------------------------------*/

