/* Colors
-----------------------------------------*/
$pink: #e64e4d;
$black: #000;
$charcoal: #1a1a1a;
$white: #fff;
$snow: #f0f0f0;



/* Variables and Mixins
-----------------------------------------*/



/* Body Styles
-----------------------------------------*/
.row { max-width: 80rem; }


/* Header
-----------------------------------------*/
.header {
	height: 425px;
	background: url(../assets/snow.jpg);
	background-size: 100%;
	background-position-y: -650px;

	img {
		margin-top: 25px;
	}

	// SearchBox
	.searchbox{
	    position: relative;
	    min-width: 50px;
	    width: 0%;
	    height: 50px;
	    float: right;
	    overflow: hidden;
	    
	    -webkit-transition: width 0.3s;
	    -moz-transition: width 0.3s;
	    -ms-transition: width 0.3s;
	    -o-transition: width 0.3s;
	    transition: width 0.3s;
	}

	.searchbox-input{
	    top: 0;
	    right: 0;
	    border: 0;
	    outline: 0;
	    background: $snow;
	    width: 100%;
	    height: 50px;
	    margin: 0;
	    padding: 0px 55px 0px 20px;
	    font-size: 20px;
	    color: red;

	    &::-webkit-input-placeholder { color: #d74b4b; }
		&:-moz-placeholder { color: #d74b4b; }
		&::-moz-placeholder { color: #d74b4b; }
		&:-ms-input-placeholder { color: #d74b4b; }
	}

	.searchbox-icon,
	.searchbox-submit{
	    width: 50px;
	    height: 50px;
	    display: block;
	    position: absolute;
	    top: 0;
	    font-family: verdana;
	    font-size: 22px;
	    right: 0;
	    padding: 0;
	    margin: 0;
	    border: 0;
	    outline: 0;
	    line-height: 50px;
	    text-align: center;
	    cursor: pointer;
	    color: $pink;
	    background: $charcoal;

	    &:hover {
	    	color: $charcoal;
	    	background: $pink;
	    }
	}

	.searchbox-open{
	    width: 100%;
	}

} //header


/* Nav
-----------------------------------------*/
.navbar {
	text-align: center; 
	padding: 20px 0;

	a {
		padding: 10px 5%;
		color: $pink;

		&:hover {
			background: $pink;
			color: $black;
		}
	}
}




